@import './variables';
@import './leftMenu.scss';
@import './rightMenu.scss';

.wapper {
    margin          : 0px auto;
    background-color: $backGround;
    display         : flex;
    justify-content : center;

    // Main Menu
    .menu-main {
        height       : 467px;
        padding      : 0px 60px;
        background   : $white;
        display      : flex;
        align-items  : center;
        margin-bottom: 138px;

        .menu-main__content {
            width: 500px;

            .menu-main__title {
                font-weight: 700;
                font-size  : 4.8rem;
                color      : $black;
            }

            .menu-main__desc {
                font-size  : 1.6rem;
                color      : $paragraphFont;
                line-height: 2.4rem;
                margin     : 18px 0px 25px;
            }

            .menu-main__btn {
                text-align      : center;
                display         : block;
                width           : 150px;
                background-color: $yellow400;
                border-radius   : 5px;
                font-size       : 1.6rem;
                font-weight     : 500;
                text-decoration : none;
                text-transform  : uppercase;
                color           : $black;
                margin-bottom   : 25px;
            }

            .menu-main__btn:hover {
                background-color: rgba(255, 180, 0, 0.80);
                transition      : all .3s;
            }

            .menu-main__btn:hover svg {
                transform : translateX(5px);
                transition: all .3s;
            }
        }

        .menu-main__image {
            flex-grow          : 1;
            height             : 100%;
            background         : url('../img/use_imge_main.png') no-repeat;
            background-position: center;
            background-size    : contain;
        }
    }

    // Main content
    .content-section {
        margin-bottom: 70px;

        .content-section__heading {
            font-weight  : bold;
            font-size    : 3.2rem;
            color        : $black;
            margin-bottom: 25px;
        }

        .content-section__sub-heading {
            width        : 438px;
            margin       : 0px auto;
            font-size    : 1.5rem;
            line-height  : 2.4rem;
            color        : $paragraphFont;
            margin-bottom: 50px;
        }

        // My Services 
        .content-services {
            display              : grid;
            grid-template-columns: repeat(3, 1fr);
            gap                  : 20px;

            .card-items {
                background-color   : $white;
                width              : 310px;
                padding            : 28px;
                border             : 1px solid $white;

                .card-items__img {
                    width : 68px;
                    height: 68px;
                }

                .card-items__headding {
                    font-size  : 1.8rem;
                    color      : $black;
                    font-weight: 500;
                    margin     : 26px 0px 15px;
                }

                .card-items__desc {
                    font-size    : 1.5rem;
                    line-height  : 2.4rem;
                    color        : $paragraphFont;
                    margin-bottom: 14px;
                }

                .card-items__link {
                    background     : transparent;
                    text-decoration: none;
                    text-transform : uppercase;
                    font-size      : 1.2rem;
                    line-height    : 1.4rem;
                    font-weight    : bold;
                    color          : $yellow400;
                    display        : flex;
                    align-items    : center;
                    cursor         : pointer;
                }

                .card-items__link:hover {
                    text-decoration: underline;
                }

                &:hover {
                    border    : 1px solid $yellow400;
                    transition: .3s;
                    opacity   : 0.9;
                }
            }
        }

        // Price Plan 
        .card-pricePlan {
            @include flex();
            justify-content: space-between;

            &__items {
                @include flex($direction: column);
                align-items             : center;
                padding                 : 55px 25px 25px 25px;
                min-height              : 500px;
                width                   : 309px;
                background-color        : $white;
                position                : relative;
                top                     : 0;

                &:hover {
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
                }

                &.card-pricePlan__items--gold::before {
                    content         : "Most Popular";
                    position        : absolute;
                    top             : 0;
                    width           : 100%;
                    height          : 30px;
                    text-align      : center;
                    font-size       : 1.4rem;
                    line-height     : 3rem;
                    background-color: $yellow400;
                }

                .card-pricePlan__category {
                    font-size    : 2.4rem;
                    font-weight  : 600;
                    color        : $black;
                    margin-bottom: 20px;
                }

                .card-pricePlan__price {
                    font-size     : 1.5rem;
                    color         : $black;
                    text-transform: capitalize;
                    margin-bottom : 8px;

                    span {
                        font-size  : 3.2rem;
                        font-weight: bold;
                    }
                }

                .card-pricePlan__desc {
                    text-align    : center;
                    font-size     : 1.5rem;
                    color         : $paragraphFont;
                    line-height   : 2.4rem;
                    text-transform: capitalize;
                    margin-bottom : 20px;
                }

                .card-pricePlan__service {
                    width                   : 100%;
                    @include flex($direction: column);
                    font-size               : 1.5rem;
                    line-height             : 2.4rem;

                    &-items {
                        @include flex();
                        align-items   : center;
                        text-transform: capitalize;

                        svg {
                            margin-right: 10px;
                        }
                    }

                    &-items:not(:last-child) {
                        margin-bottom: 16px;
                    }

                    &-items.unchecked {
                        color: $paragraphFont;
                    }

                    &-items.checked {
                        color: $black;
                    }


                }

                .card-pricePlan__btn {
                    width        : 170px;
                    font-size    : 1.4rem;
                    font-weight  : bold;
                    line-height  : 1.7px;
                    border       : 0;
                    outline      : 0;
                    margin-top   : 20px;
                    background   : $white;
                    box-shadow   : 0px 1px 10px rgba(0, 0, 0, 0.15);
                    border-radius: 30px;
                    cursor       : pointer;

                    &:hover {
                        background-color: $yellow400;
                        transition      : all .4s;
                    }
                }

            }
        }

        // Recommendations
        .list-recommendations {
            width: 100%;
            @include flex();
            overflow-x: auto;


            .items-recommendations {
                width           : 310px;
                min-height      : 323px;
                background-color: white;
                padding         : 25px 17px;
                margin-right    : 27px;
                flex-shrink     : 0;

                &__rating {
                    margin-bottom: 17px;
                }

                &__title {
                    font-size    : 1.8rem;
                    font-weight  : 500;
                    line-height  : 2.2rem;
                    color        : $black;
                    margin-bottom: 18px;
                }

                &__content {
                    font-size         : 1.5rem;
                    line-height       : 2.2rem;
                    text-transform    : capitalize;
                    color             : $paragraphFont;
                    word-wrap         : break-word;
                    overflow          : hidden;
                    display           : block;
                    display           : -webkit-box;
                    text-overflow     : ellipsis;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 4;
                }

                &__author {
                    @include flex();
                    align-items: center;
                    margin-top : 30px;

                    &-img {
                        width          : 80px;
                        height         : 80px;
                        display        : block;
                        text-decoration: none;
                        border-radius  : 50%;
                    }

                    &-profile {
                        flex-grow     : 1;
                        text-transform: capitalize;
                        padding       : 0px 13px;

                        .items-recommendations__author-name {
                            font-size  : 1.8rem;
                            font-weight: 500;
                            line-height: 2.2rem;
                            color      : $black;
                        }

                        .items-recommendations__author-service {
                            font-size  : 1.5rem;
                            line-height: 2.4rem;
                            color      : $paragraphFont;
                        }
                    }
                }
            }
        }

        //Education Work history
        .education-list {
            background-color: $white;
            padding         : 19px 29px 38px 37px;

            &__items {
                @include flex();
                padding-top   : 28px;
                padding-bottom: 11px;

                &.education-list__items--line {
                    border-bottom: 1px solid $backGround;
                }

                .school {
                    width: calc(100% - 536px);

                    &__name {
                        font-size     : 1.8rem;
                        font-weight   : 500;
                        line-height   : 2.2rem;
                        text-transform: capitalize;
                        color         : $black;
                    }

                    &__office {
                        font-size  : 1.5rem;
                        line-height: 2.4rem;
                        margin-top : 25px;
                        @include flex();
                        align-items: center;

                        .school__time {
                            font-size       : 1rem;
                            font-weight     : 900;
                            line-height     : 1.8rem;
                            padding         : 2px;
                            margin-left     : 21px;
                            color           : $white;
                            background-color: $yellow95;
                        }
                    }
                }

                .certificates {
                    width: 536px;

                    &__name {
                        font-size     : 1.8rem;
                        font-weight   : 500;
                        line-height   : 2.2rem;
                        text-transform: capitalize;
                        color         : $black;
                    }

                    &__desc {
                        font-size     : 1.5rem;
                        line-height   : 2.4rem;
                        text-transform: capitalize;
                        color         : $paragraphFont;
                        margin-top    : 25px;
                    }
                }
            }
        }

        //Protfolio
        .protfolio-content{
            display: flex;
            flex-direction: column;

            &__categories{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 50px 0;
                &-link{
                    text-decoration: none;
                    font-size:1.8rem;
                    font-weight: 500;
                    line-height: 2.2rem;
                    text-transform: capitalize;
                    color: $black;
                    &:hover{
                        color: $yellow400;
                        transition: ease 0.3s;
                    }
                    &:not(:last-child){
                        margin-right: 37px;
                    }

                    &--active{
                        color: $yellow400;
                    }
                }
            }

            &__lists{
                display              : grid;
                grid-template-columns: repeat(3, 1fr);
                gap                  : 20px;
                
                &-item{
                    position: relative;
                    top: 0;
                    height: 300px;

                    &::before{
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-color: $yellow95;
                        display: none;
                    }
                    
                    &::after{
                        content: "+";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        font-size: 5rem;
                        color: $black;
                        display: flex;
                        align-items    : center;
                        justify-content: center;
                        display: none;
                    }
                    
                    &:hover::before,
                    &:hover::after{
                        display: flex;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        transition: all 0.5s;
                    }
                    
                }

                &-img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        //Blog 
        .blog-content{
            display              : grid;
            grid-template-columns: repeat(3, 1fr);
            gap                  : 20px;
            
            &__item{
                &-img{
                    width: 100%;
                    height: 300px;
                    img{
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
                &-heading{
                    font-size: 1.8rem;
                    font-weight: 500;
                    text-transform: capitalize;
                    line-height   : 2.2rem;
                    color: $black;
                    margin: 25px 25px 8px;
                }
                &-desc{
                    font-size: 1.5rem;
                    line-height: 2.4rem;
                    text-transform: capitalize;
                    color: $paragraphFont;
                    margin: 0px 25px;
                }
                &-btn{
                    text-decoration: none;
                    font-size: 1.8rem;
                    font-weight: 500;
                    line-height: 2.2rem;
                    text-transform: capitalize;
                    color: $yellow400;

                    &:hover{
                        text-decoration: underline;
                        transition: all 1s;
                    }
                }
            }
        }
    }

    //Contacts
    .contact {
        margin-bottom: 70px;
        @include flex();
        justify-content: space-between;

        &-info {
            width: 570px;

            &__heading {
                font-size     : 3.2rem;
                font-weight   : bold;
                line-height   : 4rem;
                text-transform: capitalize;
                color         : $black;
            }

            &__form {
                margin-top      : 50px;
                padding         : 25px;
                background-color: $white;

                &-group {
                    margin-bottom: 25px;

                    label {
                        display    : block;
                        font-size  : 1.8rem;
                        font-weight: 500;
                        line-height: 2.2rem;
                        color      : $paragraphFont;
                    }

                    input {
                        display         : block;
                        width           : 100%;
                        height          : 50px;
                        // outline: none;
                        border          : none;
                        padding         : 10px;
                        margin-top      : 8px;
                        margin-bottom   : 25px;
                        font-size       : 1.8rem;
                        color           : $black;
                        background-color: $backGround;
                    }

                    textarea {
                        display         : block;
                        width           : 100%;
                        height          : 235px;
                        resize          : none;
                        border          : none;
                        padding         : 10px;
                        margin-top      : 8px;
                        font-size       : 1.8rem;
                        color           : $black;
                        background-color: $backGround;
                    }
                }

                .info-submit__btn {
                    padding         : 10px 25px;
                    font-size       : 1.4rem;
                    line-height     : 1.7rem;
                    font-weight     : 600;
                    text-transform  : uppercase;
                    color           : $black;
                    background-color: $yellow400;
                    border          : none;
                    cursor          : pointer;
                }
            }
        }

        &-information {
            width: calc(100% - 570px - 30px);

            &__heading {
                font-size     : 3.2rem;
                font-weight   : bold;
                line-height   : 4rem;
                text-transform: capitalize;
                color         : $black;
            }

            &__list {
                margin-top: 50px;

                .contact-information__items {
                    padding         : 25px 25px 15px 25px;
                    background-color: $white;

                    &:not(:last-child) {
                        margin-bottom: 18px;
                    }

                    &-heading {
                        width           : 40px;
                        height          : 40px;
                        background-color: $yellow400;
                        border-radius   : 50%;
                        margin          : 0px auto 30px;
                    }

                    &-content {
                        color: $paragraphFont;
                        @include flex();
                        justify-content: space-between;

                        h4 {
                            font-size  : 1.8rem;
                            font-weight: 500;
                            line-height: 2.2rem;
                        }

                        p {
                            font-size     : 1.5rem;
                            line-height   : 2.4rem;
                            text-transform: capitalize;
                            color         : $paragraphFont;
                        }

                        &:not(:last-child) {
                            margin-bottom: 18px;
                        }
                    }
                }
            }
        }
    }

    .map {
        iframe {
            width : 100%;
            height: 300px;
        }
    }

    .logo {
        margin-top     : 70px;
        display        : flex;
        justify-content: space-between;
    }
}