
.hero {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 92px;

  &::after {
    content: "";
    width: 100%;
    height: 2000px;
    // background-color: $black;
    position: absolute;
    top: -200px;
    right: -40%;
    z-index: 0;
    transform: rotate(9.67deg);
  }

  &__info {
    position: relative;
    z-index: 99;
    color: $black;
    font-weight: bold;
    font-size: 4rem;
    line-height: 4.7rem;
    flex-grow: 1;
    display: block;

    &-name{
        margin-top: 54px;
        font-size: 8rem;
        line-height: 94px;
    }

    &-desc{
        font-size: 2.5rem;
        font-weight: 800;
        color: #919191;
    }
  }

  &__avatar{
      img{
          width: 783px;
      }
      z-index: 2;
  }

  &__socail{
    margin-top: 126px;
    display: flex;
    align-items: center;
    gap: 31px;
    
    &-link{
      text-decoration: none;
      background-color: #C4C4C4;
      padding: 10px 10px 2px 10px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      &:hover{
        box-shadow: unset;
      }
    }
  }
  
}
