.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 92px;
  z-index: 999;
  display: flex;
  align-items: center;

  .container__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 1366px;
    margin: 0 auto;
  }

  &__logo {
    margin-right: auto;
  }

  &__link {
    text-decoration: none;
    color: $white;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 1.5rem;
    padding: 10px;
    min-width: 85px;
    text-align: center;
    border-radius: 2rem;
    transition: all 0.2s linear;

    &:hover,
    &--active {
      background-color: $white;
      color: $black;
      border-radius: 2rem;
    }
  }
}
