@import './variables';
@import './reset';
@import './navbar';
@import './hero';

html{
    font-family: 'Montserrat', sans-serif;
    font-size:  62.5%;
}

.app{
    background-color: #D7D7D7;
    
    .container-nav{
        margin: 0px auto;
        width: 1365px;
    }
}
