.container {
  width: 970px;
  position: relative;
  top: 0;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.flexCenterRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flexCenterColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.border-b {
  border-bottom: 1px solid #F0F0F6;
}

.btn {
  display: inline-block;
  padding: 16px 32px;
}

.text-center {
  text-align: center;
}

.menu-left {
  background-color: #FFFFFF;
  width: 305px;
  min-height: 700px;
  height: 100%;
  padding: 50px 45px 25px 40px;
  margin-right: 30px;
  z-index: 99;
}
.menu-left .profile__name {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
  text-transform: capitalize;
  color: #2B2B2B;
  margin-top: 30px;
  margin-bottom: 15px;
}
.menu-left .profile__job {
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #767676;
  margin-bottom: 15px;
}
.menu-left .profile__social-media {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}
.menu-left .profile__social-media-link {
  text-decoration: none;
  padding: 5px;
  background-color: #FFB400;
  border-radius: 50%;
}
.menu-left .profile__social-media-link:not(:last-child) {
  margin-right: 15px;
}
.menu-left .profile__social-media-link:hover {
  opacity: 0.8;
}
.menu-left .about {
  padding-top: 25px;
  padding-bottom: 25px;
}
.menu-left .about__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  line-height: 2.4rem;
  text-transform: capitalize;
  color: #2B2B2B;
}
.menu-left .about__items:not(:last-child) {
  margin-bottom: 9px;
}
.menu-left .about__items-heading {
  background-color: #FFB400;
  padding: 0px 7px 0px 5px;
}
.menu-left .skills {
  padding-top: 25px;
  padding-bottom: 25px;
}
.menu-left .skills__heading {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
  text-transform: capitalize;
  color: #2B2B2B;
  margin-bottom: 15px;
}
.menu-left .skills-items__name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 9px;
  margin-bottom: 5px;
}
.menu-left .skills-items__percentage {
  --widthPoint:100%;
  width: 100%;
  height: 6px;
  border: 0.5px solid #FFB400;
  border-radius: 30px;
  padding: 1px;
  display: flex;
  align-items: center;
}
.menu-left .skills-items__percentage--100, .menu-left .skills-items__percentage--90, .menu-left .skills-items__percentage--85, .menu-left .skills-items__percentage--80, .menu-left .skills-items__percentage--75, .menu-left .skills-items__percentage--60 {
  height: 3px;
  background-color: #FFB400;
  transition: animation 0.6;
}
.menu-left .skills-items__percentage--100 {
  width: 100%;
  animation: percentagePoint 3s 1s;
}
@keyframes percentagePoint {
  0% {
    width: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.menu-left .skills-items__percentage--90 {
  width: 90%;
  animation: percentagePoint 3s 1s;
}
@keyframes percentagePoint {
  0% {
    width: 0%;
  }
  100% {
    opacity: 90%;
  }
}
.menu-left .skills-items__percentage--85 {
  width: 85%;
  animation: percentagePoint 3s 1s;
}
@keyframes percentagePoint {
  0% {
    width: 0%;
  }
  100% {
    opacity: 85%;
  }
}
.menu-left .skills-items__percentage--80 {
  width: 80%;
  animation: percentagePoint 3s 1s;
}
@keyframes percentagePoint {
  0% {
    width: 0%;
  }
  100% {
    opacity: 80%;
  }
}
.menu-left .skills-items__percentage--75 {
  width: 75%;
  animation: percentagePoint 3s 1s;
}
@keyframes percentagePoint {
  0% {
    width: 0%;
  }
  100% {
    opacity: 75%;
  }
}
.menu-left .skills-items__percentage--60 {
  width: 60%;
  animation: percentagePoint 3s 1s;
}
@keyframes percentagePoint {
  0% {
    width: 0%;
  }
  100% {
    opacity: 75%;
  }
}
.menu-left .skills__list {
  display: flex;
  flex-direction: column;
}
.menu-left .skills__list-items {
  display: flex;
  align-items: center;
}
.menu-left .skills__list-items p {
  margin-left: 15px;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #767676;
}
.menu-left .btn--downloadCV {
  width: 100%;
  height: 40px;
  border: none;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-transform: uppercase;
  color: #2B2B2B;
  background-color: #FFB400;
  cursor: pointer;
}
.menu-left .btn--downloadCV:hover {
  background-color: #df9e07;
}

.container {
  width: 970px;
  position: relative;
  top: 0;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.flexCenterRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flexCenterColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.border-b {
  border-bottom: 1px solid #F0F0F6;
}

.btn {
  display: inline-block;
  padding: 16px 32px;
}

.text-center {
  text-align: center;
}

.menu-right {
  position: sticky;
  top: 0;
  order: 3;
  width: 108px;
  min-height: 700px;
  height: 100%;
  padding: 20px 0px 50px;
  margin-left: 30px;
  background: transparent;
}
.menu-right .nav__items {
  position: relative;
  top: 0;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 4px 0px 10px rgba(47, 122, 249, 0.1);
  width: 40px;
  height: 40px;
  margin-top: 20px;
  transition: all 0.3s;
}
.menu-right .nav__items:hover {
  background-color: #FFB400;
}
.menu-right .nav__items:hover svg path {
  fill: #18191A;
}
.menu-right .nav__items:hover > .nav__items-popup {
  display: block;
}
.menu-right .nav__items-popup {
  position: absolute;
  top: -80%;
  background: #18191A;
  color: #FFFFFF;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 5px;
  border-radius: 2px;
  display: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.menu-right .nav__items-popup:before {
  content: "";
  position: absolute;
  bottom: -4px;
  border-bottom: 1rem solid #2B2B2B;
  border-left: 1rem solid transparent;
  transform: rotate(45deg);
}

.wapper {
  margin: 0px auto;
  background-color: #F0F0F6;
  display: flex;
  justify-content: center;
}
.wapper .menu-main {
  height: 467px;
  padding: 0px 60px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  margin-bottom: 138px;
}
.wapper .menu-main .menu-main__content {
  width: 500px;
}
.wapper .menu-main .menu-main__content .menu-main__title {
  font-weight: 700;
  font-size: 4.8rem;
  color: #2B2B2B;
}
.wapper .menu-main .menu-main__content .menu-main__desc {
  font-size: 1.6rem;
  color: #767676;
  line-height: 2.4rem;
  margin: 18px 0px 25px;
}
.wapper .menu-main .menu-main__content .menu-main__btn {
  text-align: center;
  display: block;
  width: 150px;
  background-color: #FFB400;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #2B2B2B;
  margin-bottom: 25px;
}
.wapper .menu-main .menu-main__content .menu-main__btn:hover {
  background-color: rgba(255, 180, 0, 0.8);
  transition: all 0.3s;
}
.wapper .menu-main .menu-main__content .menu-main__btn:hover svg {
  transform: translateX(5px);
  transition: all 0.3s;
}
.wapper .menu-main .menu-main__image {
  flex-grow: 1;
  height: 100%;
  background: url("../img/use_imge_main.png") no-repeat;
  background-position: center;
  background-size: contain;
}
.wapper .content-section {
  margin-bottom: 70px;
}
.wapper .content-section .content-section__heading {
  font-weight: bold;
  font-size: 3.2rem;
  color: #2B2B2B;
  margin-bottom: 25px;
}
.wapper .content-section .content-section__sub-heading {
  width: 438px;
  margin: 0px auto;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #767676;
  margin-bottom: 50px;
}
.wapper .content-section .content-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.wapper .content-section .content-services .card-items {
  background-color: #FFFFFF;
  width: 310px;
  padding: 28px;
  border: 1px solid #FFFFFF;
}
.wapper .content-section .content-services .card-items .card-items__img {
  width: 68px;
  height: 68px;
}
.wapper .content-section .content-services .card-items .card-items__headding {
  font-size: 1.8rem;
  color: #2B2B2B;
  font-weight: 500;
  margin: 26px 0px 15px;
}
.wapper .content-section .content-services .card-items .card-items__desc {
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #767676;
  margin-bottom: 14px;
}
.wapper .content-section .content-services .card-items .card-items__link {
  background: transparent;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: bold;
  color: #FFB400;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.wapper .content-section .content-services .card-items .card-items__link:hover {
  text-decoration: underline;
}
.wapper .content-section .content-services .card-items:hover {
  border: 1px solid #FFB400;
  transition: 0.3s;
  opacity: 0.9;
}
.wapper .content-section .card-pricePlan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wapper .content-section .card-pricePlan__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 25px 25px 25px;
  min-height: 500px;
  width: 309px;
  background-color: #FFFFFF;
  position: relative;
  top: 0;
}
.wapper .content-section .card-pricePlan__items:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.wapper .content-section .card-pricePlan__items.card-pricePlan__items--gold::before {
  content: "Most Popular";
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 1.4rem;
  line-height: 3rem;
  background-color: #FFB400;
}
.wapper .content-section .card-pricePlan__items .card-pricePlan__category {
  font-size: 2.4rem;
  font-weight: 600;
  color: #2B2B2B;
  margin-bottom: 20px;
}
.wapper .content-section .card-pricePlan__items .card-pricePlan__price {
  font-size: 1.5rem;
  color: #2B2B2B;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.wapper .content-section .card-pricePlan__items .card-pricePlan__price span {
  font-size: 3.2rem;
  font-weight: bold;
}
.wapper .content-section .card-pricePlan__items .card-pricePlan__desc {
  text-align: center;
  font-size: 1.5rem;
  color: #767676;
  line-height: 2.4rem;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.wapper .content-section .card-pricePlan__items .card-pricePlan__service {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.wapper .content-section .card-pricePlan__items .card-pricePlan__service-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: capitalize;
}
.wapper .content-section .card-pricePlan__items .card-pricePlan__service-items svg {
  margin-right: 10px;
}
.wapper .content-section .card-pricePlan__items .card-pricePlan__service-items:not(:last-child) {
  margin-bottom: 16px;
}
.wapper .content-section .card-pricePlan__items .card-pricePlan__service-items.unchecked {
  color: #767676;
}
.wapper .content-section .card-pricePlan__items .card-pricePlan__service-items.checked {
  color: #2B2B2B;
}
.wapper .content-section .card-pricePlan__items .card-pricePlan__btn {
  width: 170px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.7px;
  border: 0;
  outline: 0;
  margin-top: 20px;
  background: #FFFFFF;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  cursor: pointer;
}
.wapper .content-section .card-pricePlan__items .card-pricePlan__btn:hover {
  background-color: #FFB400;
  transition: all 0.4s;
}
.wapper .content-section .list-recommendations {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
.wapper .content-section .list-recommendations .items-recommendations {
  width: 310px;
  min-height: 323px;
  background-color: white;
  padding: 25px 17px;
  margin-right: 27px;
  flex-shrink: 0;
}
.wapper .content-section .list-recommendations .items-recommendations__rating {
  margin-bottom: 17px;
}
.wapper .content-section .list-recommendations .items-recommendations__title {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
  color: #2B2B2B;
  margin-bottom: 18px;
}
.wapper .content-section .list-recommendations .items-recommendations__content {
  font-size: 1.5rem;
  line-height: 2.2rem;
  text-transform: capitalize;
  color: #767676;
  word-wrap: break-word;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.wapper .content-section .list-recommendations .items-recommendations__author {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}
.wapper .content-section .list-recommendations .items-recommendations__author-img {
  width: 80px;
  height: 80px;
  display: block;
  text-decoration: none;
  border-radius: 50%;
}
.wapper .content-section .list-recommendations .items-recommendations__author-profile {
  flex-grow: 1;
  text-transform: capitalize;
  padding: 0px 13px;
}
.wapper .content-section .list-recommendations .items-recommendations__author-profile .items-recommendations__author-name {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
  color: #2B2B2B;
}
.wapper .content-section .list-recommendations .items-recommendations__author-profile .items-recommendations__author-service {
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #767676;
}
.wapper .content-section .education-list {
  background-color: #FFFFFF;
  padding: 19px 29px 38px 37px;
}
.wapper .content-section .education-list__items {
  display: flex;
  flex-direction: row;
  padding-top: 28px;
  padding-bottom: 11px;
}
.wapper .content-section .education-list__items.education-list__items--line {
  border-bottom: 1px solid #F0F0F6;
}
.wapper .content-section .education-list__items .school {
  width: calc(100% - 536px);
}
.wapper .content-section .education-list__items .school__name {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
  text-transform: capitalize;
  color: #2B2B2B;
}
.wapper .content-section .education-list__items .school__office {
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wapper .content-section .education-list__items .school__office .school__time {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.8rem;
  padding: 2px;
  margin-left: 21px;
  color: #FFFFFF;
  background-color: rgba(255, 180, 0, 0.95);
}
.wapper .content-section .education-list__items .certificates {
  width: 536px;
}
.wapper .content-section .education-list__items .certificates__name {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
  text-transform: capitalize;
  color: #2B2B2B;
}
.wapper .content-section .education-list__items .certificates__desc {
  font-size: 1.5rem;
  line-height: 2.4rem;
  text-transform: capitalize;
  color: #767676;
  margin-top: 25px;
}
.wapper .content-section .protfolio-content {
  display: flex;
  flex-direction: column;
}
.wapper .content-section .protfolio-content__categories {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.wapper .content-section .protfolio-content__categories-link {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
  text-transform: capitalize;
  color: #2B2B2B;
}
.wapper .content-section .protfolio-content__categories-link:hover {
  color: #FFB400;
  transition: ease 0.3s;
}
.wapper .content-section .protfolio-content__categories-link:not(:last-child) {
  margin-right: 37px;
}
.wapper .content-section .protfolio-content__categories-link--active {
  color: #FFB400;
}
.wapper .content-section .protfolio-content__lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.wapper .content-section .protfolio-content__lists-item {
  position: relative;
  top: 0;
  height: 300px;
}
.wapper .content-section .protfolio-content__lists-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 180, 0, 0.95);
  display: none;
}
.wapper .content-section .protfolio-content__lists-item::after {
  content: "+";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 5rem;
  color: #2B2B2B;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.wapper .content-section .protfolio-content__lists-item:hover::before, .wapper .content-section .protfolio-content__lists-item:hover::after {
  display: flex;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all 0.5s;
}
.wapper .content-section .protfolio-content__lists-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wapper .content-section .blog-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.wapper .content-section .blog-content__item-img {
  width: 100%;
  height: 300px;
}
.wapper .content-section .blog-content__item-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.wapper .content-section .blog-content__item-heading {
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 2.2rem;
  color: #2B2B2B;
  margin: 25px 25px 8px;
}
.wapper .content-section .blog-content__item-desc {
  font-size: 1.5rem;
  line-height: 2.4rem;
  text-transform: capitalize;
  color: #767676;
  margin: 0px 25px;
}
.wapper .content-section .blog-content__item-btn {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
  text-transform: capitalize;
  color: #FFB400;
}
.wapper .content-section .blog-content__item-btn:hover {
  text-decoration: underline;
  transition: all 1s;
}
.wapper .contact {
  margin-bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wapper .contact-info {
  width: 570px;
}
.wapper .contact-info__heading {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 4rem;
  text-transform: capitalize;
  color: #2B2B2B;
}
.wapper .contact-info__form {
  margin-top: 50px;
  padding: 25px;
  background-color: #FFFFFF;
}
.wapper .contact-info__form-group {
  margin-bottom: 25px;
}
.wapper .contact-info__form-group label {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
  color: #767676;
}
.wapper .contact-info__form-group input {
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 25px;
  font-size: 1.8rem;
  color: #2B2B2B;
  background-color: #F0F0F6;
}
.wapper .contact-info__form-group textarea {
  display: block;
  width: 100%;
  height: 235px;
  resize: none;
  border: none;
  padding: 10px;
  margin-top: 8px;
  font-size: 1.8rem;
  color: #2B2B2B;
  background-color: #F0F0F6;
}
.wapper .contact-info__form .info-submit__btn {
  padding: 10px 25px;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #2B2B2B;
  background-color: #FFB400;
  border: none;
  cursor: pointer;
}
.wapper .contact-information {
  width: calc(100% - 570px - 30px);
}
.wapper .contact-information__heading {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 4rem;
  text-transform: capitalize;
  color: #2B2B2B;
}
.wapper .contact-information__list {
  margin-top: 50px;
}
.wapper .contact-information__list .contact-information__items {
  padding: 25px 25px 15px 25px;
  background-color: #FFFFFF;
}
.wapper .contact-information__list .contact-information__items:not(:last-child) {
  margin-bottom: 18px;
}
.wapper .contact-information__list .contact-information__items-heading {
  width: 40px;
  height: 40px;
  background-color: #FFB400;
  border-radius: 50%;
  margin: 0px auto 30px;
}
.wapper .contact-information__list .contact-information__items-content {
  color: #767676;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wapper .contact-information__list .contact-information__items-content h4 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
}
.wapper .contact-information__list .contact-information__items-content p {
  font-size: 1.5rem;
  line-height: 2.4rem;
  text-transform: capitalize;
  color: #767676;
}
.wapper .contact-information__list .contact-information__items-content:not(:last-child) {
  margin-bottom: 18px;
}
.wapper .map iframe {
  width: 100%;
  height: 300px;
}
.wapper .logo {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=mainMenu.css.map */
