.container {
  width: 970px;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

.flexCenterRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flexCenterColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  line-height: 1.6rem;
  padding: 16px 32px;
}

.text-center {
  text-align: center;
}

.menu-left {
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba(255, 180, 0, 0.95);
  height: 100px;
}

.container {
  width: 970px;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

.flexCenterRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flexCenterColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  line-height: 1.6rem;
  padding: 16px 32px;
}

.text-center {
  text-align: center;
}

.menu-right {
  order: 3;
  position: sticky;
  top: 0;
  right: 0;
  background-color: rgba(255, 180, 0, 0.95);
  height: 100px;
}

.wapper {
  margin: 0px auto;
  background-color: #F0F0F6;
  display: flex;
  justify-content: center;
}
.wapper .menu-main {
  height: 467px;
  padding: 0px 60px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  margin-bottom: 138px;
}
.wapper .menu-main .menu-main__content {
  width: 500px;
}
.wapper .menu-main .menu-main__content .menu-main__title {
  font-weight: 700;
  font-size: 4.8rem;
  color: #2B2B2B;
}
.wapper .menu-main .menu-main__content .menu-main__desc {
  font-size: 1.6rem;
  color: #767676;
  line-height: 2.4rem;
  margin: 18px 0px 25px;
}
.wapper .menu-main .menu-main__content .menu-main__btn {
  background-color: #FFB400;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #2B2B2B;
}
.wapper .menu-main .menu-main__content .menu-main__btn:hover {
  background-color: rgba(255, 180, 0, 0.8);
  transition: all 0.3s;
}
.wapper .menu-main .menu-main__content .menu-main__btn:hover svg {
  transform: translateX(5px);
  transition: all 0.3s;
}
.wapper .menu-main .menu-main__image {
  flex-grow: 1;
  height: 100%;
}
.wapper .content-section {
  margin-bottom: 70px;
}
.wapper .content-section .content-section__heading {
  font-weight: bold;
  font-size: 3.2rem;
  color: #2B2B2B;
  margin-bottom: 25px;
}
.wapper .content-section .content-section__sub-heading {
  width: 438px;
  margin: 0px auto;
  font-size: 1.5;
  line-height: 2.4rem;
  color: #767676;
  margin-bottom: 50px;
}
.wapper .content-section .content-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.wapper .content-section .content-services .card-items {
  background-color: #FFFFFF;
  width: 310px;
  padding: 28px;
  border: 1px solid #FFFFFF;
}
.wapper .content-section .content-services .card-items .card-items__img {
  width: 68px;
  height: 68px;
}
.wapper .content-section .content-services .card-items .card-items__headding {
  font-size: 1.8rem;
  color: #2B2B2B;
  font-weight: 500;
  margin: 26px 0px 15px;
}
.wapper .content-section .content-services .card-items .card-items__desc {
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #767676;
  margin-bottom: 14px;
}
.wapper .content-section .content-services .card-items .card-items__link {
  background: transparent;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: bold;
  color: #FFB400;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.wapper .content-section .content-services .card-items .card-items__link:hover {
  text-decoration: underline;
}
.wapper .content-section .content-services .card-items:hover {
  border: 1px solid #FFB400;
  transition: 0.3s;
  opacity: 0.9;
}
.wapper .content-section .card-pricePlan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wapper .content-section .card-pricePlan__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 25px 25px 25px;
  min-height: 500px;
  width: 309px;
  background-color: #FFFFFF;
  position: relative;
  top: 0;
}
.wapper .content-section .card-pricePlan__items:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.wapper .content-section .card-pricePlan__items.card-pricePlan__items--gold::before {
  content: "Most Popular";
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 1.4rem;
  line-height: 3rem;
  background-color: #FFB400;
}
.wapper .content-section .card-pricePlan__items .card-pricePlan__category {
  font-size: 2.4rem;
  font-weight: 600;
  color: #2B2B2B;
  margin-bottom: 20px;
}
.wapper .content-section .card-pricePlan__items .card-pricePlan__price {
  font-size: 1.5rem;
  color: #2B2B2B;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.wapper .content-section .card-pricePlan__items .card-pricePlan__price span {
  font-size: 3.2rem;
  font-weight: bold;
}
.wapper .content-section .card-pricePlan__items .card-pricePlan__desc {
  text-align: center;
  font-size: 1.5rem;
  color: #767676;
  line-height: 2.4rem;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.wapper .content-section .card-pricePlan__items .card-pricePlan__service {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.wapper .content-section .card-pricePlan__items .card-pricePlan__service-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: capitalize;
}
.wapper .content-section .card-pricePlan__items .card-pricePlan__service-items svg {
  margin-right: 10px;
}
.wapper .content-section .card-pricePlan__items .card-pricePlan__service-items:not(:last-child) {
  margin-bottom: 16px;
}
.wapper .content-section .card-pricePlan__items .card-pricePlan__service-items.unchecked {
  color: #767676;
}
.wapper .content-section .card-pricePlan__items .card-pricePlan__service-items.checked {
  color: #2B2B2B;
}
.wapper .content-section .card-pricePlan__items .card-pricePlan__btn {
  width: 170px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.7px;
  border: 0;
  outline: 0;
  margin-top: 20px;
  background: #FFFFFF;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  cursor: pointer;
}
.wapper .content-section .card-pricePlan__items .card-pricePlan__btn:hover {
  background-color: #FFB400;
  transition: all 0.4s;
}
.wapper .content-section .list-recommendations {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
.wapper .content-section .list-recommendations .items-recommendations {
  width: 310px;
  min-height: 323px;
  background-color: white;
  padding: 25px 17px;
  margin-right: 27px;
  flex-shrink: 0;
}
.wapper .content-section .list-recommendations .items-recommendations__rating {
  margin-bottom: 17px;
}
.wapper .content-section .list-recommendations .items-recommendations__title {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
  color: #2B2B2B;
  margin-bottom: 18px;
}
.wapper .content-section .list-recommendations .items-recommendations__content {
  font-size: 1.5rem;
  line-height: 2.2rem;
  text-transform: capitalize;
  color: #767676;
  word-wrap: break-word;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.wapper .content-section .list-recommendations .items-recommendations__author {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}
.wapper .content-section .list-recommendations .items-recommendations__author-img {
  width: 80px;
  height: 80px;
  display: block;
  text-decoration: none;
  border-radius: 50%;
}
.wapper .content-section .list-recommendations .items-recommendations__author-profile {
  flex-grow: 1;
  text-transform: capitalize;
  padding: 0px 13px;
}
.wapper .content-section .list-recommendations .items-recommendations__author-profile .items-recommendations__author-name {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
  color: #2B2B2B;
}
.wapper .content-section .list-recommendations .items-recommendations__author-profile .items-recommendations__author-service {
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #767676;
}

/*# sourceMappingURL=mainMenu.css.map */
